#tsparticles {
  height: 100vh;
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

.MuiContainer-root {
  padding-top: 2vh;
}

.up {
  color: green;
}

.down {
  color: red;
}

.footer {
  width: 100%;
}

.smallIcon {
  padding-top: 2vh;
  width: 5vh;
  height: 5vh;
  color: #87ceeb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
